* {
    font-family: 'Oswald', sans-serif;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

header {
    background-color: #572D13;
}

.address {
    font-size: 0.7em;
}

.nav-link , .active {
    color: white;
}

.navbar-toggler {
    background-color: white;
}